/* @font-face {
    font-family: star-wars;
    src: url(./webfontkit/stjldbl1-webfont.woff);
  }
   */
body{
    background-color: #000;
    font-family: 'star_jedi_logo_monolineRg';
    font-weight: bolder;
    font-style:normal;
}

#populate{
    display: flex;
    /* position: absolute; */
}

.headers {
    text-align: center;
    margin-bottom: 3rem;
    width: 100%;
}

.headers img {
    display:inline-block;
    margin: auto;
}

.pop_container {
    color: #fff;
    background: rgba(0,0,0,0.6);
    margin: 20%;
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /* padding: 3% 0 5% 0; */
}

.headers h1{
    color: #fff;
}

#first{
    width: 50%;
    min-height: 100%;
    background: url(https://m.media-amazon.com/images/M/MV5BMjIyMTU0MDM2NV5BMl5BanBnXkFtZTgwNzg3MjQyNDM@._V1_SY1000_CR0,0,669,1000_AL_.jpg) no-repeat center;    
}

#first img{
    max-width: 100%;
}
#populate ul li{
    background-color: #00ffff;
    margin: 15px;
    box-shadow: 0 4px 8px 0 #00ffff, 0 6px 20px 0 #000;
}
.close{
    float: right;
    transform: translateY(-80px);
    padding-right: 2%;
    text-decoration: double oblique red 300%;
}